// Colors

$white:    #fff !default;
$black:    #000 !default;
$gray-100:    #646464;
$gray-200:    #414141;
$gray-300:    #282828;
$red:     #ed282a !default;
$gold:  #ffa726 !default;
$slate:     #78909c;
$pearlbush:    #efeae2 !default;
$wafer:     #ddd2c0;

$border-radius: 3px;

$h1-font-size: 5.6116em;
$h2-font-size: 4.21em;
$h3-font-size: 3.158em;
$h4-font-size: 2.36916em;
// $h5-font-size: 1.7775em;
// $h6-font-size: 1.333em;
$h5-font-size: 1.416em;
$h6-font-size: 1.08em;

//17pt: 1.416 em
//13pt: 1.08 em

$p-font-size-large: 1.666em;
$p-font-size-medium: 1.5em;
$p-font-size-regular: 1.333em;