@import "variables";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

@font-face {
    font-family: "KlinicSlab";
    src: url("/fonts/KlinicSlab/KlinicSlabBook.otf") format("opentype");
}

@font-face {
    font-family: "Rawson";
    src: url("/fonts/Rawson/Rawson-Regular.eot");
}

// ELEMENTS

body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Rawson', sans-serif; 
    font-size: .5em;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "KlinicSlab";
    color: $gray-300;
    font-weight: 100;
}

h1 { 
    color: $red;
    font-size: $h1-font-size;
    margin: .5em 0;
}

h2 {
    color: $gray-200;
    font-size: $h2-font-size;
}

h3 {
    color: $gray-200;
    font-size: $h3-font-size;
}

h5 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: $h5-font-size;
    color: $gray-100;
    letter-spacing: .125em;
    font-weight: 500;
}

h6 {
    text-transform: uppercase;
    font-family: 'Montserrat';
}

a {
    color: $gray-300;
    text-decoration: none;
}

p {
    font-size: $p-font-size-large;
    color: $gray-300;
    font-weight: 100;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ul {
    padding: 0;
    margin:0;
}

.nav {
    display: flex;
    .nav-item {
        margin: auto;
    }
}

li {
    list-style: none;
}

// UTILS
.text-red { color: $red }
.text-gold { color: $gold }
.text-slate { color: $slate }
.text-white { color: $white }
.text-dark { color: $gray-200 }
.text-center { text-align: center; }
.mx-auto { margin-left: auto; margin-right: auto; }
.d-block { display: block; }
.d-inline-block { display: inline-block; }



// COMPONENTS

.btn {
    border-radius: $border-radius;
    padding: .5em;
    border: 1px solid $red;
    background-color: $red;
    color: $white;
    display: inline-block;
    font-family: 'Montserrat';
    font-size: $p-font-size-medium;
    transition: all 0.3s ease;
    
    &:hover {
        background-color: darken($red, 10%);
    }

    &.btn-inverse {
        border: 1px solid $white;
        background-color: transparent;
        &:hover {
            background-color: $white;
            color: $gray-200;
        }
    }
}

.hide-mobile {
    display: none;
}

.container { 
    overflow: hidden;
}

//  ============= <== TOP NAV ==> ==============

$nav-height: 3.5rem;
.top-nav {
    padding: 0 1rem;
    height: $nav-height;
    display: flex;
    ul {
        display: flex;
        line-height: $nav-height;
        padding: 0;
        margin: 0;
        li {
            padding: 0 10px;
            &:first-of-type { padding-left: 0; }
            &:last-of-type { padding-right: 0; }
        }
    } 
    
    .brand-logo { 
        margin: 0 auto; 
        width: 2rem;
    }

    .donate-btn {
        background-color: $red;
        color: $white;
        letter-spacing: .15rem;
        padding: .5rem;
        display: inline;
    }
}

// BODY

section.home-hero {
    background-color: $gray-300;
    position: relative;
    overflow: hidden;
    height: 560px;

    .content {
        text-align: center; 
        padding: 10rem 10px 0;
        z-index: 100;

        .logo {
            width: 90%;
        }
        
        p {
            font-weight: 300;
            color: $white;
        }
    }
    .dot-grid {
        width: 10.5em;
        position: absolute;
        top: 0;
    }
    .hero-house {
        width: 35em;
        position: absolute;
        top: 0;
        right: -18em;
    }
}

section#WhyWeAct {
    .content {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
    }
}

section#TheActModel {
    background-color: $pearlbush; 
    padding-bottom: 80px;

    .content {
        text-align: center;
        padding: 40px 10px;
    }

    .act-slider {
        .act-letters {
            width: 75%;
            margin: 0 auto;
            display: flex;

            .act-a-toggle {
                z-index: 1;
                //width: 39%;
                //width: 10%;
                &.active {
                    fill: $red;
                }
            }
            .act-c-toggle {
                z-index: 2;
                //width: 10% ;
                //width: 38% ;
                margin-left: -5%;
                &.active {
                    fill: $gold;
                }
            }
            .act-t-toggle {
                z-index: 3;
                //width: 20%;
                //width: 10%;
                margin-left: -3%;
                &.active {
                    fill: $slate;
                }
            }
        }

        ul.act-titles {
            display: flex;
            li {
                color: $wafer;
                margin: 0 auto;
                text-align: center;
                h5 {
                    margin-bottom: 1em;
                    color: $wafer;
                }
                .dot {
                    height: 1em;
                    width: 1em;
                    background-color: $wafer;
                    border-radius: 50%;
                    display: inline-block;
                }

                &.act-a-toggle.active {
                    h5 { color: $red; }
                    .dot { background-color: $red; }
                }
                &.act-c-toggle.active {
                    h5 { color: $gold; }
                    .dot { background-color: $gold; }
                }
                &.act-t-toggle.active {
                    h5 { color: $slate; }
                    .dot { background-color: $slate; }
                }

            }
        }

        ul.act-descriptions {
            padding: 0 10px;
            li {
                display: none;

                &.active {
                    display: flex;
                }

                img {
                    width: 20%;
                }
                p {
                    padding-left: 1em;
                    text-align: left;
                    font-size: $p-font-size-small;
                }
            }
        }
    }        
}

section#OurProgram {
    .content {
        padding: 0 1em;
        text-align: center;
    }
}
section#OurVisibleImpact {
    text-align: center;
    .content {
        padding: 1em;
    }

    .stats {
        padding: 1em;
        div {
            margin: 0 auto;
            h1 {
                font-family: 'Montserrat';
                margin: 0 auto;
                width: 3em;
                line-height: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: #efefef;
                border: 0.15em solid #f8f8f8;
            }
        }
    }
    img {
        width: 100%;
    }
}
section#EmpoweringMinorityTalent {
    .content {
        padding: 0 1em;
        text-align: center;
    }
}

section#HelpMakeItHappen {
    background-color: $pearlbush;
    text-align: center;
    

    .partner-links {
        bottom: 50%;
        .link-box {
            position: relative;
            overflow: hidden;
            margin: 1em;
            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
            }
            h2 {
                color: $white;
                position: relative;
                z-index: 100;
                margin-top: .75em;
                margin-bottom: .25em;
            }
            .btn {
                position: relative;
                z-index: 100;
                margin-bottom: 3em;
            }
        }
    }

    .powerful-content {
        margin: 1em;
    }

    .logo {
        width: 30%;
        margin:2em;
    }
}
// ==================== <== FOOTER ==> ======================

footer {
    overflow: hidden;
    position: relative;
    background-color: $gray-300;
    text-align: center;
    height: 800px;

    .content {
        position: relative;
        z-index: 100;
    }

    h1 {
        margin-bottom: 1em;
    }

    .nav {
        margin: 5em auto;
        width: 90%;

        .nav-item {
            img {
                width: 80%;
            }
        }
    }

    .logo {
        margin-top: 5em;
        width: 75%;
    }

    .img-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .dot-grid {
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
    }
}

// ======================= <== MEDIA QUERIES ==> ================================

@media only screen and (min-width: 768px) {
    body { font-size: .8vw }
    .hide-mobile { display: inherit; }
    .top-nav { padding: 0 2rem; }
    section { position: relative; }

    section#HomeHero {
        margin: 0 2em;
        height: 44vw;
        overflow: inherit;

        .content {
            margin: 0 auto;
            max-width: 26%;
            position: absolute;
            top: 30%;
            left: 12%;
            padding: 0;
        }

        .hero-image {
            width: 58%;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 50;
        }

        .dot-grid {
            width: 9.8%;
        }

        .hero-house {
            width: 41.25%;
            top: -13%;
            right: 16.5%
        }

        .hero-footer {
            position: absolute;
            display: flex;
            bottom: 0;
            left: 5em;
            .h7 { color: $gray-100; }
            .line {
                border-top: solid 1px $gray-100; 
                width: 40em;
                height: 1px;
                margin-top: 3em;
                margin-left: 2em;
            }
        }
    }

    section#WhyWeAct {
        position: relative;
        height: 44vw;
        .content {
            position: absolute;
            text-align: left;
            padding: 0;
            width: 43%;
            left: 9%;
            top: 5%;
        }

        .img-grid {
            position: absolute;
            right: 10%;
            top: 12%;
            width: 29%;
            z-index: 100;
        }

        .dot-grid {
            position: absolute;
            right: 7.5%;
            width: 10.5%;
            top: 21%;
            z-index: 50;
        }
    }

    section#TheActModel {
        position: relative;
        height: 48vw;
        .content {
            text-align: left;
            padding: 0;
            position: absolute;
            width: 38%;
            left: 52%;
            top: 20%;
        }

        .act-slider {
            position: absolute;
            width: 34%;
            top: 25%;
            left: 8%;
            .act-letters {
                width: 100%;
            }
        }

        .img-pencils {
            position: absolute;
            width: 50%;
            right: -23%;
            top: 68%;
            z-index: 100;
        }

        .dot-grid-gray {
            position: absolute;
            width: 45%;
            right: -2%;
            bottom: -14%;
        }
    }

    section#OurProgram {
        height: 45vw;
        position: relative;
        .content {
            position: absolute;
            width: 40%;
            left: 10%;
            top: 8%;
            text-align: left;
        }   
    }
    section#OurVisibleImpact { // Our Visible Impact
        position: relative;
        height: 110vw;
        .content {
            width: 60%;
            margin: 0 auto 10%;
        }
        .stats {
            width: 90%;
            margin: 0 auto;
            display: flex;
            div {
                width: 25%;
                h1 {
                    font-family: "Montserrat"; 
                    
                }
            }
        }
        img {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
        }
    }

    section#EmpoweringMinorityTalent {
        height: 45vw;
        
        .img-grid {
            position: absolute;
            width: 27%;
            left: 15%;
            bottom: 54%;
            z-index: 100;
        }

        .dot-grid {
            position: absolute;
            width: 9.5%;
            left: 35%;
            bottom: 49%;
            z-index: 50;
        }

        .content {
            text-align: left;
            position: absolute;
            width: 40%;
            left: 50%;
            bottom: 50%;
        }
        
    }

    section#HelpMakeItHappen {
        height: 60vw;
        .content {
            position: absolute;
            bottom: 80%;
            width: 100%;

            .partner-links {
                display: flex;
                width: 90%;
                margin: auto;
                .link-box {
                    width: 32%;
                    margin: auto;
                    h2 {    
                        margin-top: 1.5em;
                    }
                    .btn {
                        margin-bottom: 4em;
                    }
                }
            }
        }

        .powerful-content {
            position: absolute;
            width: 40%;
            bottom: 8%;
            left: 8%;
            text-align: left;

            h1 {
                color: $gray-200;
            }
        }

        .logo {
            width: 15%;
            position: absolute;

            &.domi { width: 15%; left: 55%; top: 35%; }
            &.tcc { width: 11%; left: 78%; top: 32%; }
            &.thurgood { width: 11%; left: 57%; top: 55%; }
            &.famu { width: 15%; left: 76%; top: 63%; }
        }

        .dot-grid {
            position: absolute;
            width: 35%;
            top: 90%;
        }
    }

    section#ThoughtsFromOurCommunity {
        height: 40vw;
        text-align: center;
    }

    footer {
        height: 65vw;
        .content {
            margin-top: 14em;
        }
        .nav {  width: 30%; }
        .logo { width: 15%; }
        .dot-grid { width: 10%; }
    }
}